<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加老师信息</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/style.css">
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 200px;
        }

        h1 a {
            color: red;
        }

        input {
            text-align: center;
        }
    </style>
</head>
<body>
<div id="header">

    <div>
        <a href="book_manager.html">查看老师信息</a>
        <a href="book_manager.html">添加老师信息</a>
        <a href="order_manager.html">修改老师信息</a>
        <a href="../../index.html">删除老师信息</a>
    </div>
</div>

<div id="main">
    欢迎进入教师管理系统


</div>


</body>
</html>